footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .lines-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;

        span {
            color: $color12;
            font-size: $fontSize0;
            font-weight: $fontWeightDefault;
            letter-spacing: 0.35px;
            margin: 0 $gap4;
            flex-shrink: 0;
        }
    }

    .images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;

        img {
            opacity: 0.5;
            transition: opacity $transitionStandardTime;
            cursor: pointer;
            margin: $gap8 $gap15;

            &:hover {
                opacity: 1;
            }
        }

        @media (max-width: 880px) {
            justify-content: space-around;
            width: 100%;

            img {
                margin: $gap8 0;
            }
        }

        @media (max-width: 550px) {
            justify-content: center;
            flex-direction: column;
            margin-top: $gap8;

            > :nth-child(1) {
                order: 1;
            }

            > :nth-child(2) {
                order: 0;
            }

            > :nth-child(3) {
                order: 2;
            }

            img {
                margin: 0 0 $gap8 0;
            }
        }
    }
}